.handiwork-details {
  @include grid-row();

  .text-content {
    margin-bottom: 1em;
    @media #{$xlarge-up} {
      margin-bottom: 2em;
    }

    @media #{$small-up} {
      @include grid-column($columns: 12, $collapse: true);
    }

    @media #{$large-up} {
      @include grid-column($columns: 4, $collapse: true);
    }

    .handiwork-description-area {
      .handiwork-description-part {
        p {
          text-align: justify;
        }
      }
    }

    .handiwork-links {
      text-align: right;
      color: $accent-color;
      line-height: 3em;

      a {
        padding: 0.5em;
        border: 2px solid;
        border-radius: 0.3em;
        @include transition(all 400ms);
        margin-left: 1em;
        white-space: nowrap;

        &:hover {
          background-color: rgba($accent-color, 0.3);
        }

        @include icon(before, "shopping") {
          margin-right: 0.3em;
          font-size: 1.1em;
        }
      }
    }
  }
}

.photo-content {
  @media #{$small-up} {
    @include grid-column($columns: 12, $collapse: true);
  }

  @media #{$large-up} {
    @include grid-column(8);
    padding-right: 0;
  }

  .handiwork-photo-gallery {
    @extend .justify-gallery;

    .handiwork-photo {
      @extend .gallery-item;
      @include transition(all 400ms);
      cursor: pointer;

      .handiwork-photo-thumb {
        @extend .gallery-thumb;
      }

      &.pending {
        opacity: 0;
      }
    }
  }
}