.cover-slides {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;

  .cover-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include transition(all 1500ms);
    background-position: center;
    background-size: cover;

    &.hidden {
      opacity: 0;
    }
  }
}

.header-container {
  height: 100vh;
  position: relative;

  .scroll-button {
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    width: 100%;
    opacity: 0.7;

    &:before {
      content: "scroll down to see more";
      font-size: 70%;
      display: block;
    }

    &:after {
      content: "";
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      @include rotate(-45deg);
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-bottom: 0.3em;
      margin-top: -0.3em;
    }
  }

  .header-title {
    text-align: center;
    width: 100%;
    @include translate2d(0, -50%);
    position: absolute;
    top: 50%;
    left: 0;
    font-family: $header-font;
    line-height: 1em;

    @media #{$small-only} {
      font-size: 2em;
    }

    @media #{$medium-only} {
      font-size: 3.5em;
    }

    @media #{$large-only} {
      font-size: 4em;
    }

    @media #{$xlarge-only} {
      font-size: 4.5em;
    }

    @media #{$xxlarge-only} {
      font-size: 6em;
    }

    &:before {
      content: "katoonyaka";
      display: block;
      text-transform: lowercase;
      font-weight: bold;
    }

    &:after {
      content: "creations";
      font-size: 0.6em;
    }
  }
}