@mixin nav-bar-transition {
  @include transition(all 200ms);
}

.nav-bar {
  background: transparent;
  display: block;
  height: $nav-bar-height;
  line-height: $nav-bar-height;
  position: fixed;
  z-index: 100;
  top: 2em;
  left: 0;
  width: 100%;
  @include nav-bar-transition;
  color: #C59F71;

  padding: 0 1em;
  @media #{$small-only} {
    padding: 0 0.5em;
  }

  &.panelled {
    top: 0;
    background: darken($main-bg-color, 10%);
    border-bottom: 1px solid darken($main-bg-color, 15%);
    @include katoonyaka-shadow;

    .additional-links {
      visibility: visible;
      opacity: 1;
    }
  }

  a {
    display: inline-block;
    @include nav-bar-transition;

    &:hover {
      color: #EAC291;
    }
  }

  .additional-links {
    display: inline-block;
    float: left;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    @include nav-bar-transition;

    a {
      margin-right: 1em;
      @media #{$small-only} {
        margin-right: 0.7em;
      }
    }
  }

  .general-links {
    display: inline-block;
    float: right;
    height: 100%;

    a {
      margin-left: 1em;
      @media #{$small-only} {
        margin-left: 0.7em;
      }
    }
  }

}