.nav-bar {
  background: transparent;
  display: block;
  height: 2em;
  line-height: 2em;
  font-size: 90%;
  position: fixed;
  z-index: 100;
  top: 2em;
  left: 0;
  width: 100%;
  padding: 0 2em;
  @include transition(all 300ms);
  color: $secondary-color;

  &.panelled {
    top: 0;
    background: darken($main-bg-color, 10%);
    border-bottom: 1px solid darken($main-bg-color, 15%);
    @include katoonyaka-shadow;
  }

  a {
    display: inline-block;
    @include transition(all 300ms);

    &:hover {
      color: $accent-color;
    }
  }

  .additional-links {
    display: inline-block;
    float: left;
    height: 100%;
  }

  .general-links {
    display: inline-block;
    float: right;
    height: 100%;

    a {
      margin-left: 1em;
    }
  }

}