.scrollbar {
  position: absolute;
  top: ($nav-bar-height + 0.2em);
  bottom: 0.2em;
  width: 2px;
  background: darken($main-bg-color, 10%);

  right: 3px;
  @media #{$medium-up} {
    right: 5px;
  }
  @media #{$large-up} {
    right: 10px;
  }

  .handle {
    width: 100%;
    height: 100px;
    background: lighten($main-bg-color, 10%);
    cursor: pointer;

    .mousearea {
      position: absolute;
      top: 0;
      width: 22px;
      height: 100%;

      left: -3px;
      @media #{$medium-up} {
        left: -5px;
      }
      @media #{$large-up} {
        left: -10px;
      }
    }
  }
}

.frame {
  margin: 0 0 0 0;
  height: 100%;
}