<div layout="row" layout-align="end center">
    <md-button class="md-raised md-primary"
               type="file"
               ngf-select="uploadCover($files)"
               ngf-accept="'image/*'">
        Add Cover
    </md-button>
</div>

<md-divider></md-divider>

<div layout="row"
     flex
     layout-wrap
     class="grid-container"
     dnd-list="covers"
     dnd-horizontal-list="true"
     dnd-drop="moveCover(index, item)">

    <div flex="25"
         dnd-draggable="cover"
         ng-repeat="cover in covers">

        <md-card>
            <a href="/photos/cover.{{ cover.id }}.big.jpeg" target="_blank">
                <img ng-src="/photos/cover.{{ cover.id }}.small.jpeg">
            </a>
            <md-card-content>
                <div class="md-toolbar-tools">
                    <span ng-if="cover.draft"
                          class="draft-label">
                      Draft
                    </span>

                    <span flex></span>

                    <md-button class="md-icon-button"
                               aria-label="Actions"
                               ng-click="showMenu(cover)">
                        <md-icon md-svg-icon="menu-button"></md-icon>
                    </md-button>
                </div>

            </md-card-content>
        </md-card>
    </div>
</div>