<form name="coverForm" class="md-padding" ng-submit="submitCover()">

    <md-content layout="column" layout-align="start start">

        <div layout="column" layout-align="start start">
            <a ng-href="http://www.ucarecdn.com/{{ selectedCover.photo.externalId }}/" target="_blank">
                <img ng-if="selectedCover.photo.externalId"
                     ng-src="http://www.ucarecdn.com/{{ selectedCover.photo.externalId }}/-/resize/500x/">
            </a>
        </div>

        <md-button uploadcare-widget
                   class="md-primary"
                   multiple-files="false"
                   public-key="uploadcarePublicKey"
                   on-file-uploaded="onPhotoUploaded(fileInfo)"
                   type="button">
            Choose new cover photo
        </md-button>

    </md-content>

    <div class="button-panel">
        <md-button ng-click="cancelEditing()" type="button">Cancel</md-button>
        <md-button type="submit" class="md-primary md-raised md-margin">Save</md-button>
    </div>

</form>