<div layout="row" layout-align="end center" class="top-toolbar">
  <md-button ng-click="navigateToHandiworks()">Back to list</md-button>
  <md-button ng-click="preview()">Preview</md-button>
  <md-button class="md-raised"
             ngf-multiple="true"
             ngf-select="addPhotos($files)"
             ngf-accept="'image/jpeg'">Add Photos</md-button>
  <md-button class="md-raised"
             type="file"
             ngf-select="setCover($files)"
             ngf-accept="'image/jpeg'">Set Cover</md-button>
  <md-button class="md-raised" ng-click="confirmDeletion()">Delete</md-button>
  <md-button class="md-raised" ng-if="handiwork.draft" ng-click="publish()">Publish</md-button>
  <md-button class="md-raised" ng-if="!handiwork.draft" ng-click="draftify()">Draftify</md-button>
  <md-button class="md-raised" ng-click="startHandiworkEditing()">Edit</md-button>
</div>

<md-divider></md-divider>

<h3>{{ handiwork.name }}</h3>

<p class="handiwork-summary" flex="50">
    <md-card class="handiwork-cover" ng-if="handiwork.cover">
        <a ng-href="/photos/{{ handiwork.url }}.{{ handiwork.cover.id }}.big.jpeg" target="_blank">
            <img ng-src="/photos/{{ handiwork.url }}.{{ handiwork.cover.id }}.micro.jpeg">
        </a>
        <md-card-content layout="row">
            <span flex></span>

          <span class="draft-label">
            Cover Photo
          </span>
            </div>

        </md-card-content>
    </md-card>
    {{ handiwork.summary }}
</p>

<!--<div layout="column" layout-align="end end">-->
<!--  <a href="{{ handiwork.etsyUrl }}" target="_blank" ng-if="handiwork.etsyUrl">{{ handiwork.etsyUrl }}</a>-->
<!--  <a href="{{ handiwork.dawandaUrl }}" target="_blank" ng-if="handiwork.dawandaUrl">{{ handiwork.dawandaUrl }}</a>-->
<!--</div>-->

<md-content class="handiwork-description">
  <p ng-bind-html="handiwork.description | nl2br"></p>
</md-content>

<md-divider></md-divider>

<div layout="row"
     flex
     layout-wrap
     class="grid-container"
     dnd-list="handiwork.photos"
     dnd-horizontal-list="true"
     dnd-drop="movePhoto(index, item)">

  <div flex="25"
       dnd-draggable="photo"
       ng-repeat="photo in handiwork.photos">

    <md-card>
      <img ng-src="/photos/{{ handiwork.url }}.{{ photo.id }}.small.jpeg">
      <md-card-content>
          <div class="md-toolbar-tools">
              <span flex></span>

              <md-button class="md-icon-button"
                         aria-label="Delete"
                         ng-click="deletePhoto(photo)">
                  <md-icon md-svg-icon="delete-button"></md-icon>
              </md-button>
          </div>
      </md-card-content>
    </md-card>
  </div>
</div>
