<md-bottom-sheet class="md-list">
    <md-list layout="start">
        <md-item >
            <md-button >
                <md-button ng-click="goToHandiworks()">
                    <md-icon md-svg-icon="handiwork-button"></md-icon>
                    <span class="md-inline-list-icon-label">Handiworks</span>
                </md-button>
            </md-button>
        </md-item>

        <md-item >
            <md-button >
                <md-button ng-click="goToCovers()">
                    <md-icon md-svg-icon="cover-button"></md-icon>
                    <span class="md-inline-list-icon-label">Covers</span>
                </md-button>
            </md-button>
        </md-item>

    </md-list>
</md-bottom-sheet>